.container {
    margin: 0;
    padding: 0;
    align-items: center;
    input:hover {
        background: lightgrey;
       }
      
       input:focus {
        background: blue;
       }
}

.px-44 {
    padding-left: 44rem;
  }
  
  @media(max-width: 1000px){
    .container-responsive{
      visibility: hidden;
  
    }
  
  }

$primarycolor: blue;
$textcolor: white;

.iconhead {
    background-repeat: no-repeat;
    margin: 3em;

}

.margin-right {
    margin-right: auto;
}

.colorblueleft {
    color: $primarycolor;
    width: 40;
    height: 40;
    top: 50;
    left: 70;
}

.rounded-left1 {
    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
}

.margin {
    margin: 13em;
}

.margin1 {
    margin: 5em;
}

.paddy {
    padding: 1em;
}

/*@media (max-width: 1000px) {
    .text-center-1{
        text-align: center;

    }

}*/

.contact {
    background-color: #2d49b7;
    padding: 3em;
}

.contactfont1 {
    color: $textcolor;
    font-size: 0.7em;
}

.footer {
    background-color: #03224C;
    padding: 1.7em;
}

.footertext {
    color: $textcolor;
}

.blue-color-right::before {
    content: "";
    position: absolute;
    display: block;
    width: 440px;
    height: 270px;
    border-radius: 0em;
    border-bottom-left-radius: 6em;
    background-color: #5368df;
    left: 10em;
    top: 7em;
}


.blue-color-left::before {
    content: "";
    position: absolute;
    display: block;
    width: 350px;
    height: 270px;
    border-radius: 0em;
    border-bottom-right-radius: 6em;
    background-color: #5368df;
    left: 10em;
    top: 7em;
}