body {
    margin: 0;
    padding: 0;
    align-items: center;
}

.iconhead {
    background-repeat: no-repeat;
    margin: 3em;

}

.colorblueleft {
    color: blue;
    width: 40;
    height: 40;
    top: 50;
    left: 70;
}

.rounded-left1 {
    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
}